In [5]:
import numpy as np 
import pandas as pd 
import MiscFcns as MF
import scipy.stats as ss
import mygene

In [12]:
#Load prediction dataset 
df = pd.read_csv('EC2_ICCT_subNet_de_agg_probs.csv')
#df = pd.read_csv('EC2_ConsUnion1_subNet_de_agg_probs.csv')
GeneId = df['Gene']
df.head()

,Unnamed: 0,Gene,Y0h,Y0l,Y1h,Y1l,Y3h,Y3l
0,0,ENSG00000000003,0.240105,9.997225e-01,1.234691e-10,6.733560e-12,0.005367,2.949255e-07
1,1,ENSG00000000419,0.665309,2.850016e-01,1.229701e-08,2.012001e-15,0.000050,2.377142e-11
2,2,ENSG00000000457,0.665282,2.849000e-01,2.238065e-12,2.984028e-11,0.025684,7.106794e-05
3,3,ENSG00000000938,0.000953,7.429655e-07,7.256187e-08,3.230653e-06,0.122708,9.286597e-01
4,4,ENSG00000000971,0.016454,1.021360e-01,4.711436e-08,2.361356e-07,0.088079,7.580288e-01

In [10]:
#load GWAS dataset 
Gwas = pd.read_csv('Jensen_gene_summary2.csv')
Gwas['Min'] = Gwas['Min']*Gwas['Num']
#Gwas = pd.read_csv('IGAP_gene_summary.csv')
Gwas.head()

   Unnamed: 0      Mean       Min    Names  Num
0           0 -0.416023  0.149134   SAMD11  308
1           1 -0.483331  0.156203    NOC2L  228
2           2 -0.520841  0.008804   KLHL17  180
3           3 -0.566113  0.009537  PLEKHN1  195
4           4 -0.521383  0.008413    PERM1  172

In [14]:
#Perform KS-test
#lgcl =((df['Y0b']) + (df['Y1b']) + (df['Y3b'])/3 > 0.9) 
#lgcl =((df['Y0b']>0.9) + (df['Y1b']>0.9) + (df['Y3b']>0.9))
#lgcl =((df['Y0b']>0.9) * (df['Y1b']>0.9) * (df['Y3b']>0.9))
#lgcl =(df['Y0l']>0.9) * (df['Y1l']>0.9) * (df['Y3l']>0.9) 
#lgcl =(df['Y1b']>0.9)
#lgcl =(df['Y3h']>0.9)
lgcl = ((df['Y0h']) + (df['Y1h']) + (df['Y3h'])/3 > 0.9)

MF.GetTTestResult(lgcl,GeneId,Gwas)

querying 1-1000...done.
querying 1001-1354...done.
Finished.
querying 1-1000...done.
querying 1001-2000...done.
querying 2001-3000...done.
querying 3001-4000...done.
querying 4001-5000...done.
querying 5001-6000...done.
querying 6001-7000...done.
querying 7001-8000...done.
querying 8001-9000...done.
querying 9001-10000...done.
querying 10001-11000...done.
querying 11001-12000...done.
querying 12001-13000...done.
querying 13001-13094...done.
Finished.
1 input query terms found dup hits:
	[(u'ENSG00000229425', 2)]
32 input query terms found no hit:
	[u'ENSG00000069712', u'ENSG00000116957', u'ENSG00000170647', u'ENSG00000179979', u'ENSG00000182109',
Pass "returnall=True" to return complete lists of duplicate or missing query terms.
MannwhitneyuResult(statistic=6597466.0, pvalue=0.12013889016678242)
MannwhitneyuResult(statistic=6577388.0, pvalue=0.08912453405074755)

In [18]:
df.head()

   Unnamed: 0 GeneSymb  MeanPval        OR      Pval         Y
0           0    RNF14 -2.487667 -0.348124  0.000183  0.309687
1           1    HIF3A -1.965255 -0.297621  0.003345  0.335080
2           2    NCBP2 -2.179538 -0.441322  0.000487  0.265772
3           3    RNF13 -3.232988  0.015354  0.000055  0.508837
4           4   LAPTM5 -2.157617 -0.378847  0.000441  0.294770